body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}

.dark-mode {
  background-color: black;
  color: white;
}
.rotate {
  transform: rotate(90deg);
  margin-left:-20px;
  margin-top: 30px;
  /* z-index: 10; */
  /* position: relative; */
  font-size: x-small;
  text-transform: uppercase;
  img{
   box-shadow: 5px; ;
  }